a,a:hover {
    color: black;
    text-decoration:none;
}

.navbar-dark .navbar-nav .nav-link{
    color: #888;
}
.navbar-dark .navbar-nav .nav-link:hover{
    background-color: #E4138E;
    color: #fff;
    text-decoration: none;
}

.bg-ping {
    background-color:rgba(238,238,238,.95) !important; /*#db488c!important;*/
}

.mp-0{
    margin: 0px !important;
    padding: 0px !important;
}

.mCustom {
  margin: 0px 29px 0px 0px;
}

.d-b {
    display: block;
}

.people-big {
    line-height: 41px !important;
    font-size: large !important;
}

.moreall{
    background-color: #f2042d70;
}

.people-name {
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.07) 12%,rgba(0,0,0,.5) 90%,rgba(0,0,0,.6) 100%);
    bottom: 0;
    color: #fff;
    padding: 4px 8px;
    padding-top: 15px;
    position: absolute;
    text-align: left;
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    font-family: sans-serif;
    width: 100%;
}

.people-img {
    width: 175px;
}
.people-big-img {
    width: 270px;
}

.p-l0 {
    padding-left: 0px;
}

.page-title{
    border-bottom: 2px solid #fe0a6f;
    padding-bottom: 7px;
    width: 100%;
}

 h1 {
    font-size: 26px;
}

h3.page-title  {
    font-size: 22px;
    margin-bottom: 20px;
}

.nrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nrow .col-md-6{
    margin-left: -15px;
}

.mr40 {
    margin-right: 40px;
}

.mr59 {
    margin-right: 59px;;
}

.person-item-small:last-child:before {
    background: rgba(228,19,142,.49);
    content: 'MORE ALL';
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    text-align: center;
    line-height: 180px;
    color: white;
    font-weight: 500;
}

ul.etikets {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

   ul.etikets li {
        float: left;
        padding-right: 2px;
        display: inline-flex;
        background: #fb0069bf;
        margin: 3px;
        border-radius: 4px;
        color: white;
    }

        ul.etikets li a:before {
            content: "#";
        }

       ul.etikets li a {
            color: #ececec;
            border-radius: 4px;
            padding-left: 5px;
            padding-right: 5px;
            display: inline-block;
        
        }

        
@media only screen and (max-width: 991px) {
    .big-wrapper{
      padding: 0px !important;
    } 
    .people-img {
        width: 172px !important;
    }
    .people-big-img {
        width: 267px !important;
    }
    .mr40,.mr59{
      margin-right: 0px !important;
  }
}

.hastag-most-populer {
    background-color: gray;
    color: white;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    display: table;
    margin-bottom: 5px;
    cursor: pointer;
}

.mb-10 {
    margin-bottom: 10px;
}

.w234 {
    width: 234px;
}

.color-default,.color-default:hover {
    color: #db488c;
}

.btn-rank-wrapper {
    border: 1px solid #8080807a;
    text-align: center;
    background: white;
    height: 80px;
    line-height: 25px;
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
} 
.btn-rank-wrapper:hover {
    background-color: #e6e6e6c7;
}

ul.people-prop {
    padding: 0px;
    margin: 0px;
}

ul.people-prop li{
    position: relative;
    display: grid;
    background: #80808024;
    border-bottom: 1px solid #c5c0c07a;
    padding: 2px 0px 2px 48px;
}

ul.people-prop li span{
    font-size: 13px;
}

ul.people-prop li i{
    position: static;
    color: #E4138E;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 21px;
    bottom: 0;
    padding: 15px 10px;
}

ul.people-prop li:last-child{
    border: none;
}

.mr-5 {
    margin-left: 5px;
}

.mr-3 {
    margin-left: 3px;
}

 .m-t-50{
     margin-top: 50px;
 }

 .dwrapper {
    background: #bebebe14;
    border: 1px solid #bebebe57;
 }

 footer{
    background: #fafafa;
 }
 
 .person-item-small:hover {
    opacity: 0.7;
}

.category-person-item-small:hover {
    opacity: 0.7;
}

.icn-rank{
    color: #E4138E;
    position: absolute;
    font-size: 44px;
}


@media (min-width: 768px)
{
    .icn-rank .rank {
        font-size: 17px;
        top: 15px;
        left: 2px;
        width: 40px;
        height: 20px;
    }
}

.icn-rank .rank {
    color: #fff;
    font-family: sans-serif;
    position: absolute;
    text-shadow: 1px 1px rgba(0,0,0,.4);
    text-align: center;
    font-size: 14px;
    top: 15px;
    left: 3px;
    width: 35px;
    height: 20px;
}

.sosyal-btn{
    background: #E4138E;
    border: 1px solid #E4138E;
    color: white;
    width: 100%;
    font-size: 20px;
}

a.btn.sosyal-btn:hover {
    color: white;
    opacity: 0.8;
}

.people-name i{
    color: #0ec80e;
}

.menu * {
    cursor: pointer;
}

.carousel-control-next {
    cursor: pointer;
}
.carousel-control-prev {
    cursor: pointer;
}

ol.carousel-indicators li {
    cursor: pointer;
}



/* SVG spinner icon animation */
.spinner {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  }
  .spinner .path {
    stroke: #cccccc;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite;
  }
  
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  

  .people-img-mobile {
    width: 189px !important;
}