<div class="nrow" *ngIf="FirstDataSource">
    <h1 class="text-center page-title mr40">Today's Birthdays</h1>
    <div class="col-md-4 big-wrapper p-l0" *ngIf="FirstDataSource">
        <a [routerLink]="['/people/'+FirstDataSource?.link]"
         class="d-b form-group position-relative" title="{{FirstDataSource?.peo_name}}">
            <img class="card-img-top"
                src="{{FirstDataSource.peo_jpg | firstImages}}" 
                default="http://www.famouspopulerbirthdays.com/upload/faces/large-default.jpg"
                alt="{{FirstDataSource?.peo_name}}">
            <div class="people-name people-big">{{FirstDataSource?.peo_name}}, {{FirstDataSource?.yas}}</div>
        </a>
    </div>
    <div  class="col-md-8">
        <app-people-list class="row" [MoreAllURL]="'/to-days-birth-days'" [DataSource]="DataSource"></app-people-list>
    </div>
</div>