<main [className]="isDevice?'container':'container pt-61'">
    <div class="col-md-12 text-center">
        <!-- REKLAM -->
        <ng-adsense *ngIf="isDevice" [adSlot]="6506353662" [display]="'inline-block'" [width]="728" [height]="90">
        </ng-adsense>
        <ng-adsense *ngIf="!isDevice" [adSlot]="9232589350" [adFormat]="'auto'" [fullWidthResponsive]="true">
        </ng-adsense>
    </div>
    <div class="col-md-12" *ngIf="DataSource">
        <h3 class="text-center page-title">Professions</h3>
        <div class="nrow form-group">
            <a *ngFor="let item of DataSource?.data; index as i; first as isFirst;"
                [routerLink]="['/profession/'+item.link]" class="d-b position-relative category-person-item-small"
                title="{{item.peo_Title}}">
                <img [className]="isDevice ? 'card-img-top people-big-img' : 'card-img-top people-big-img-mobile'"
                    src="{{item.peo_jpg | firstImages}}"
                    default="http://www.famouspopulerbirthdays.com/upload/faces/large-default.jpg"
                    alt="{{item.peo_Title}}">
                <div class="people-name">
                    {{item.peo_Title}}, {{item.yas}}
                </div>
            </a>
        </div>
        <app-paging [Prev]="DataSource?.prev" [Next]="DataSource?.next" (onClick)="DataLoad($event)"></app-paging>
    </div>
</main>