<main class="container">
    <div class="form-group pt-31">
        REKLAM
    </div>
    <div class="col-md-12" *ngIf="DataSource">
        <h3 class="text-center page-title">Professions</h3>
        <div class="nrow form-group">
            <a *ngFor="let item of DataSource; index as i; first as isFirst;" [routerLink]="['/profession/'+item.link]"
                class="d-b position-relative category-person-item-small" title="{{item.peo_Title}}">
                <img class="card-img-top people-big-img"
                    src="{{item.peo_jpg | firstImages}}"
                    default="http://www.famouspopulerbirthdays.com/upload/faces/large-default.jpg"
                    alt="{{item.peo_Title}}">
                <div class="people-name">
                    {{item.peo_Title}}, {{item.yas}}
                </div>
            </a>
        </div>
    </div>
</main>