<main [className]="isDevice?'container':'container pt-61'">
    <div class="col-md-12 text-center">
        <!-- REKLAM -->
        <ng-adsense *ngIf="isDevice" [adSlot]="6506353662" [display]="'inline-block'" [width]="728" [height]="90">
        </ng-adsense>
        <ng-adsense *ngIf="!isDevice" [adSlot]="9232589350" [adFormat]="'auto'" [fullWidthResponsive]="true">
        </ng-adsense>
    </div>
    <div class="col-md-12" *ngIf="DataSource">
        <app-people-list-big [DataSource]="DataSource?.data" [title]="DataSource?.title"></app-people-list-big>
    </div>
</main>