<div class="form-inline my-2 my-md-0 search-form input-group">
    <input 
        class="form-control ml-3 search" 
        type="text" 
        #searchInput
        placeholder="search"
        (keyup)="searchClient($event.target.value)" />
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary bt-search" type="button"><i class="fa fa-search"></i></button>
    </div>
    <div *ngIf="clients" class="search-result search-see">
        <ul>
            <li *ngFor="let client of clients | async" title="{{client.peo_name}} - {{client.peo_title}}">
                <a (click)="onselectClient(client.link)" title="{{client.peo_name}} - ({{client.peo_title}})">{{client.peo_name}} - <b>({{client.peo_title}})</b></a>
            </li>
        </ul>
    </div>
</div>