<main class="container">
<div class="form-group pt-31">
    REKLAM
</div>
<!--Today's Birthdays-->
<app-today-birthdays></app-today-birthdays>
<!--Today's Birthdays-->
<div class="form-group pt-31">
    REKLAM
</div>
<div class="nrow">
    <!--Most Popular-->
    <app-most-popular></app-most-popular>
    <!--Most Popular-->
    <!--Tomorrow's Birthdays-->
    <app-tomorrow-birthdays></app-tomorrow-birthdays>
    <!--Tomorrow's Birthdays-->
    <!--Popular By Age-->
    <app-popular-by-age></app-popular-by-age>
    <!--Popular By Age-->
    <div class="col-md-6 pt-31">
        REKLAM
    </div>
    <!--Popular By Age-->
</div>
<!-- <div class="form-group">
    REKLAM
</div> -->
<!-- <app-tags></app-tags> -->
</main>