<main [className]="isDevice?'container':'container pt-61'">
    <div class="form-group text-center text-center mt-2">
        <!-- REKLAM -->
        <ng-adsense *ngIf="isDevice" [adSlot]="6506353662" [display]="'inline-block'" [width]="728" [height]="90">
        </ng-adsense>
        <ng-adsense *ngIf="!isDevice" [adSlot]="9232589350" [adFormat]="'auto'" [fullWidthResponsive]="true">
        </ng-adsense>
    </div>
    <!--Today's Birthdays-->
    <app-today-birthdays></app-today-birthdays>
    <!--Today's Birthdays-->
    <div class="form-group pt-31 text-center">
        <!-- REKLAM -->
        <ng-adsense *ngIf="isDevice" [adSlot]="6506353662" [display]="'inline-block'" [width]="728" [height]="90">
        </ng-adsense>
        <ng-adsense *ngIf="!isDevice" [adSlot]="9232589350" [adFormat]="'auto'" [fullWidthResponsive]="true">
        </ng-adsense>
    </div>
    <div class="nrow">
        <!--Most Popular-->
        <app-most-popular></app-most-popular>
        <!--Most Popular-->
        <!--Tomorrow's Birthdays-->
        <app-tomorrow-birthdays></app-tomorrow-birthdays>
        <!--Tomorrow's Birthdays-->
        <div [className]="isDevice?'col-md-12 pt-31':'col-md-12'">
            <!-- REKLAM -->
            <ng-adsense *ngIf="isDevice" [adSlot]="6506353662" [display]="'inline-block'" [width]="728" [height]="90">
            </ng-adsense>
            <ng-adsense *ngIf="!isDevice" [adSlot]="9232589350" [adFormat]="'auto'" [fullWidthResponsive]="true">
            </ng-adsense>
        </div>
        <!--Popular By Age-->
        <app-popular-by-age></app-popular-by-age>
        <!--Popular By Age-->
        <app-home-trending></app-home-trending>
        <!-- <div [className]="isDevice?'col-md-6 pt-31':'col-md-6'">
        REKLAM
    </div> -->
        <!--Popular By Age-->
    </div>
    <!-- <div class="form-group">
    REKLAM
</div> -->
    <!-- <app-tags></app-tags> -->
</main>